<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDprEmCP7msL3DiqSjS_sxcRroayJzfZqE</string>
	<key>GCM_SENDER_ID</key>
	<string>352896392153</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.blabber.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>blabber-7468d</string>
	<key>STORAGE_BUCKET</key>
	<string>blabber-7468d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:352896392153:ios:7de3210bbf22b9e46b57c8</string>
</dict>
</plist>